<div class="container">
    <h1 class="text-center" style="text-align: center; color: red;">Online Exam</h1>
    <div class="row border border-1">
        <div class="col-lg-2">
        </div>
        <div class="col-lg-8">
        <h3 class="text-center mb-4" style="text-align: center;"> Press Start to continue</h3>
        </div>
        <div class="text-center" style="text-align: center;">
            <input type="button" value="Start" (click)="startExam()" class="btn btn-primary mb-4">
        </div>
    </div>
</div>
